django==3.1.13
click
requests
dj-database-url
gunicorn
whitenoise
djangorestframework
pymmwr
pyyaml
djangorestframework-csv
django-debug-toolbar
redis
rq
django-rq
djangorestframework-jwt
more-itertools
django-anymail
django-compressor
django-libsass
brotlipy
jsonfield
python-dateutil
numpy